@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

body {
  font-family: "Ubuntu Mono", monospace;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  background-color: #cecccd;
}

.register,
.login {
  max-width: 250px;
}

.reg-btn,
.log-btn {
  background-color: #2b78e4;
  color: #fff;
}

.log-reg,
.text-title {
  color: #2b78e4;
}

.text-author {
  color: #59c063;
}

tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.445) !important;
}

thead,
.header-row tr {
  background-color: lightblue;
  border-top: 2px solid rgba(173, 216, 230, 0.801);
  border-bottom: 1px solid rgba(255, 255, 255, 0.911) !important;
}

li {
  list-style: none;
}
