.container {
  max-width: 60%;
}

h1,
h3 {
  color: #085394;
}

h2 {
  color: #3c7821;
}

a {
  text-decoration: none;
}

.submit-btn {
  background-color: #085394;
  color: #fff;
  font-weight: bold;
}
